
.btn-blue {
background-color: #2e2e2e; 
padding: 15px 20px; 
border-radius: 4px;
color: white;
font-weight: bold;
font-family: "Robot", sans-serif;
border-width:2px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}